@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 4px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  background-color:  rgb(255 151 35 / 90%);
  

}
.button:hover{
background-color: rgba(188, 214, 240, 0.58);
}



.row{
  margin: 8px 0;
  
}
.row input{
  width: 292px;
  font-size: 21px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(188, 214, 240, 0.58);
}
.text-center{
  text-align: center;
}

.bg-red{
  background: rgb(221, 75, 75);
}

.mx-auto{
  margin: auto;
}

.flex{
  display:flex;
} 
.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}